.App {
  text-align: center;
}
.outlet{
   padding-top: 4rem;
}

.navBar{
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  gap:11rem;
  font-size: 1.5rem;
  padding: 2rem 8rem 1.5rem;
  margin: -1rem 0rem 0rem 1.5rem;
  background-color: white;
  border-bottom: 1px solid gray;
}
.navLink{
  text-decoration: none;
}
.navLink:hover{
  color: skyblue;
}

.skill-Main{
  margin: 0rem 3rem 1rem;
  padding: 1rem 4rem;
}
.skills-Card{
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-evenly;
}
.skill-card{
  height: 6.2rem;
  width: min-content;
}

.footer-main{
  text-align: left;
  margin: 0rem 3rem 1rem;
  padding: .1rem 1rem 2rem;
  background-color: whitesmoke;
  border-radius: 2rem;
}
.footer-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5rem;
}
.footer-Link{
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  font-size: larger;
  color: blueviolet;
  align-items: center;
}

button{
  margin: 0.5rem .5rem;
  padding: .4rem 1rem;
  border: 2px solid lightblue;
  border-radius: 1rem;
  cursor: pointer;
}